body, html, #react-root {
	background: #f3f3f4;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

// Register
section#register {
	margin-top: 24px;
	text-align: center;
	h2 {
		color: #03a9f4;
		margin: 6px;
	}
	h4 {
		padding-top: 8px;
		padding-bottom: 8px;
		margin: 0px;
		color: white;
		background: #03a9f4;
		font-size: 24px;
	}
	.card-panel {
		padding: 0px;
		.backToLogin {
			color: #03a9f4;
			padding-top: 12px;
			padding-bottom: 12px;
			margin-bottom: 8px;
			background-color: #e1f5fe;
		}
		form {
			padding: 12px;
			padding-top: 2px;
			margin-bottom: 0px;
			padding-bottom: 8px;
		}
	}
}


// Login

section#login {
	margin-top: 24px;
	text-align: center;
	h2 {
		color: #3f51b5;
		margin: 6px;
	}
	h4 {
		padding-top: 8px;
		padding-bottom: 8px;
		margin: 0px;
		color: white;
		background: #3f51b5;
		font-size: 24px;
	}
	.card-panel {
		padding: 0px;
		.backToRegister {
			color: #3f51b5;
			padding-top: 12px;
			padding-bottom: 12px;
			margin-bottom: 8px;
			background-color: #e8eaf6;
		}
		form {
			padding: 12px;
			padding-top: 2px;
			margin-bottom: 0px;
			padding-bottom: 8px;
		}
	}
}